<div class="steps">
  <div class="step1 step <%= 'active' if @step == 1 %>">Dang nhap</div>
  <div class="step2 step <%= 'active' if @step == 2%>">Dia chi giao hang</div>
  <div class="step3 step <%= 'active' if @step == 3 %>">Phuong thuc van chuyen</div>
  <div class="step4 step <%= 'active' if @step == 4 %>">Kiem tra lai va thanh toan</div>
</div>
