$blueprint-table-stripe-color: #ffffe2;
@import "compass";
@import "compass/reset";
@import "compass/layout";
@import "blueprint";
@import "blueprint/fancy-type";
@import "partials/button";
@include sticky-footer(54px, "#main", "#main-footer", "#footer");
@include blueprint-typography;
$body-background-color: #eaf4ff;
$page-background-color: #fff;
$page-padding: 10px;

/* ----- COMMON STYLES ----- */
body {
  background: $body-background-color;
}
.required {
  color: red;
  font-weight: bold;
}
#main {
  @include container;
  background: $page-background-color;
  border: 1px solid #CCC;
  margin-top: 10px;
  @include border-radius(10px);
  @include box-shadow;
}

/* ----- HEADER STYLES ----- */
#header, #nav, #flash, #main-body{
  @include column(24, true);
}
#header h2 {
  @include alt;
  @include float-left;
  padding: {
    left: $page-padding;
    top:10px;
  }
}
#header ul {
  @include inline-block-list;
  @include float-right;
  padding: {
    right:20px;
    top:10px;
  }
}

/* ----- FOOTER STYLES ----- */
#footer {
  text-align:center;
  font-weight: bold;
}
/* ----- CONTENT STYLES ----- */
#content {
  margin: 30px $page-padding;
}

#content .title {
  color: #666;
  text-transform: uppercase;
  @include alt;
  line-height: 1.3;
  border-bottom: 3px solid #CCC;
}
/* ----- FORM STYLES ----- */
.form {
  @include blueprint-form;
}
.field_with_errors {
  @include inline-block;
  input[type='text'],input[type='password'] {
    border: 1px solid red;
  }
}
/* ----- GRID STYLES ----- */
table.grid {
}

table.grid th, table.grid td {
  border-bottom: 1px solid #DDD;
}
table.grid th {
  color: #305B7F;
  font-weight: bold;
  background: whiteSmoke;
  @include text-shadow(white);
  text-transform: uppercase;
}
/* ----- NOTIFICATION STYLES ----- */
.error, .alert {
  @include error;
  margin: $page-padding;
}
.success, .notice {
  @include success;
  margin: $page-padding;
}

/* ----- LOGIN BOX STYLES ----- */
#login-box {
  @include display-box;
  @include column(12);
  @include append(6);
  @include prepend(6);
  @include last;
}
#login-box .login {
  border: 2px solid #EFEFEF;
  padding: 20px;
  @include border-radius(10px);
  @include box-shadow;
}

/* ----- PRODUCT STYLES ----- */
.variant {
  background: #f7f7f7;
  border: 1px solid #CCC;
  padding: 10px;
  @include border-radius(5px);
  @include clearfix;
  margin-bottom: 10px;
  input[type=text] {
    width: 100px;
  }
  table {
    width: 739px;
    margin: 0;
    td { padding: 0; }
  }
  .info {
    @include float-left;
  }
  .close {
    @include float-right;
  }
}
.color-swatches {
  margin-top: 15px;
  @include clearfix;
  .color {
    @include float-left;
    margin-right: 9px;
    margin-bottom: 10px;
    img {
      border: 1px solid #CCC;
    }
  }
}
